pipeline/pipeline_all_tables.json
{
	"name": "pipeline_all_tables",
	"properties": {
		"activities": [
			{
				"name": "Lookforalltables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT s.name AS Schemanames,\nt.name as Tablenames\nfrom sys.tables t\nINNER JOIN sys.schemas s\nON t.schema_id=s.schema_id;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable2",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookforalltables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookforalltables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy each data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT * FROM [', item().Schemanames, '].[', item().Tablenames, ']')\n\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SqlServercopy",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Parquettable",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@item().Schemanames",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().Tablenames",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "bronzetosilver",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/kelvinmutai992@gmail.com/DATA ENGINEERING Notebook 2024-10-07 10:13:24"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1dataengine",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "togoldnotebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "bronzetosilver",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/kelvinmutai992@gmail.com/silver to gold Notebook 2024-10-08 16:39:34"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1dataengine",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-10-06T14:53:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}